@media(max-width: 850px) {
    /*início menu responsivo*/
    .menu-btn {
        display: block;
    } 

    .nav-bar {
        padding: 0;
    }

    .nav-title {
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .nav-menu {
        background-color: var(--gray);
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        margin-top: -1100px;
        transition: .5s;
    }

    .mobile-menu {
        margin-top: 0;
    }

    .nav-menu li {
        margin: 2vh auto;
    }

    .nav-menu a {
        text-transform: uppercase;
        font-size: 3vw;
    }
    /*final menu responsivo*/

    /*início dos cards*/
    .tours-list {
        flex-direction: column;
    }

    .tour-list-item {
        width: 80%;
    }    
    /*final dos cards*/

    /*início explore*/

    .explore-content {
        width: 95%;
        padding-top: 30%;        
        
    }
    /*final explore*/

    /*início sobre*/
    .sobre {
        flex-direction: column;
        
    }
     .sobre-content {
        margin-bottom: 10vh;
     }

    .sobre-images img:hover {
        transform: none;
    }
        /*final sobre*/

    /*início contato*/
    .contato {
        flex-direction: column;
        height: 200vh;        
    }

    .contato-line {
        width: 60vw;
    }

    .redes-icones {
        font-size: 5vw;
    }
    }

    /*final contato*/
    
    

