* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --gray: #333;
    --pink: #dc143c;
}

html {
    scroll-behavior: smooth;
}
body {
        font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
    transition: .5s;
}

a:hover {
    color: var(--pink);
}

/*comeco do menu*/
.nav-bar {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 0 5vw;
    position:absolute;
    top: 0;
    left: 0;
}

.nav-title {
    font-size: 5vh;
    font-weight: 500;
    color: var(--white);
    margin-top: 4vh;
    
}

.logo {
    color: var(--pink);
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin: 0 4vw;
}

.nav-menu a {
    font-size: 1.5vw;
}

.menu-btn {
    font-size: 5vh;
    cursor: pointer;
    position: absolute;
    right: 4vh;
    color: var(--white);
    margin-top: 8vh;
    display: none;
    
}
/*final do menu*/

/*comeco do header*/

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 8), rgba(0, 0, 0, 0)),
    url(../images/pexels-felix-mittermeier-957002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
}

.hero-title {
    margin: 3vw 0;
    font-size: 6vmin;
    font-weight: 400;
}

.line {
    width: 15%;
    height: 1vh;
    background-color: var(--pink);
    margin: 3vh auto;
    border-radius: 2px;
}

.hero-text {
    font-size: 4vw;
    font-weight: 300;
    margin: 3vh auto 6vh;
}

.btn {
    background-color: var(--pink);
    padding: 0.4vw 1.5vw;
    border-radius: 15px;
    border: 2px solid --pink;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--white);
}


/*final do menu*/

/*exemplo box*/
.box {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    margin: 10px 0;
}

/*início menu responsivo*/
@media(max-width: 500px) {
    .menu-btn {
        display: block;
    } 

    .nav-bar {
        padding: 0;
    }

    .nav-title {
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .nav-menu {
        background-color: var(--gray);
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        margin-top: -1100px;
        transition: .5s;
    }

    .mobile-menu {
        margin-top: 0;
    }

    .nav-menu li {
        margin: 2vh auto;
    }

    .nav-menu a {
        text-transform: uppercase;
        font-size: 3vw;
    }


    

}
/*final menu responsivo*/
